#voter {
  display: none;
  background-color: pink;
  font-style: italic;
  font-family: cursive;
}

.container {
  font-style: italic;
  font-family: cursive;
  color: purple;
  background-color: lightgreen;
}

h1 {
  font-weight: bolder;
  font-family: cursive;
  font-size: 30px;
}

h2 {
  font-weight: bold;
  font-style: italic;
  font-family: cursive;
}

ul {
  font-weight: bold;
  font-style: oblique;
  font-family: fantasy;
}

li {
  font-weight: bold;
  font-style: italic;
  font-family: cursive;
}
